# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb][Ii][Nn]/
[Oo][Bb][Jj]/
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
appsettings.json
appsettings.Development.json
.env

# Angular/Node
node_modules/
dist/
package-lock.json
yarn.lock
.angular/
.npm/

# Others
.idea/
.vscode/
*.swp
*.bak
*.tmp
